.theme--light.v-application {
  background: transparent !important;  
}

/**
 * Shamelessly stolen from strokesplus.net, Thanks Rob!
 */
#background {
  z-index: -999;
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/StrokesPlus.net_NoBG.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  opacity: 0.05;
  filter: alpha(opacity=05);
}