<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
    <% navbarHeading %>
  </a>
  <div class="navbar-nav px-1">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button data-sp-action="min" class="<% navBarBtnClasses %>" type="button">Min</button>
      <button data-sp-action="max" class="<% navBarBtnClasses %>" type="button">Max</button>
      <button data-sp-action="center" class="<% navBarBtnClasses %>" type="button">Center</button>
      <button data-sp-action="close" class="<% navBarBtnClasses %>" type="button">Close</button>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a data-sp-link class="nav-link active" href="#dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a data-sp-link class="nav-link" href="#orders">Orders</a>
          </li>
          <li class="nav-item">
            <a data-sp-link class="nav-link" href="#reports">Reports</a>
          </li>
          <li class="nav-item">
            <a data-sp-link class="nav-link" href="#integrations">Integrations</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 pl-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            This week
          </button>
        </div>
      </div>

      <div class="container mt-4">
        <h3>Examples</h3>
        <br>
        <div class="form-group">
          <label for="expandVal">Expand Environment Variables</label>
          <div class="input-group">
            <select class="form-control" id="expandVal">
              <option>%SystemDrive%</option>
              <option>%SystemRoot%</option>
              <option>%WINDIR%</option>
              <option>%HOMEDRIVE%</option>
              <option>%HOMEPATH%</option>
              <option>%USERPROFILE%</option>
              <option>%APPDATA%</option>
              <option>%ALLUSERSPROFILE%</option>
              <option>%PROGRAMFILES%</option>
              <option>%PROGRAMFILES(X86)%</option>
              <option>%PROGRAMDATA%</option>
              <option>%TEMP%</option>
              <option>%LOCALAPPDATA%</option>
              <option>%PUBLIC%</option>
              <option>%COMMONPROGRAMFILES%</option>
              <option>%COMMONPROGRAMFILES(x86)%</option>
            </select>
            <div class="input-group-append">
              <button data-sp-action="expand" class="btn btn-success">Expand</button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label" for="envvar">Change Window Alpha</label>
          <div class="input-group">
            <input type="number" id="alphaVal" class="form-control" value="255" />
            <div class="input-group-append">
              <button data-sp-action="alpha" class="btn btn-info">Set Alpha</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<script>
  // Our jQuery Plugin!
  (function ($, window, document) {
    // Aliases
    $.spMessage = window.chrome.webview.postMessage;
    $.spAction = (action, data) => $.spMessage({ action, data });

    $.StrokesPlus = function () {
      this.each(function () {
        //
      });

      $("a[data-sp-link]").each(function () {
        $(this).click(() => $.spAction("link", $(this).attr("href")));
      });

      $("[data-sp-action]").each(function () {
        $(this).click(() => {
          const action = $(this).data("sp-action");
          const data = $("#" + action + "Val").val();

          $.spAction(action, data);
        });
      });
    };
  }(jQuery, window, document));

  jQuery(document).ready($ => {
    $.StrokesPlus();
  });
</script>